{% extends 'blog/base.html' %}

{% block content %}
  <div class="container">
    <h1>О сайте</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>История</h2>
        <p>Не знаю</p>
      </div>
      <div class="col-md-6">
        <h2>Команда</h2>
        <p>Работал над этим проектом только один человек - Александр Скворцов </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h2>Цель и миссия</h2>
        <p>Этот сайт нужен для демонстрации навыков работы с фреймворком "Джанго". </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Контакты</h2>
        <p>Укажите контактную информацию, через которую пользователи могут связаться с вами. Это может быть электронная почта, телефон или ссылки на социальные сети.</p>
      </div>
      <div class="col-md-6">
        <h2>Поддержка</h2>
        <p>Если предоставляется услуга поддержки пользователей, укажите контактную информацию для обращения. Можете также описать процесс и время отклика на обращения.</p>
      </div>
    </div>
  </div>
{% endblock %}