{% extends 'blog/base.html' %}

{% block content %}
{% load cache %}
{% cache 300 about %} <!--кеширование страницы-->
  <div class="container">
    <h1>О сайте</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Команда</h2>
        <p>Працював над цим проектом - Олександр Скворцов</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h2>Мета та місія</h2>
        <p>Цей сайт потрібний для демонстрації навичок роботи з фреймворком "Джанго".</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Контакти</h2>
        <p>Мій github - <a href="https://github.com/LiquorProg" target="_blank"><i class="fab fa-github"></i><i>LiquorProg</i></a></p>
        <p>Моя електронна пошта для зв'язку - sashaskvorsov11@gmail.com</p>
      </div>
    </div>
  </div>
{% endcache %}
{% endblock %}