{% extends 'blog/base.html' %}

{% block content %}
  <h1>Добро пожаловать на блог об играх!</h1>

<form method="GET" action="{% url 'home' %}" class="mb-4">
  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Поиск">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Найти</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <select name="filter" class="form-control">
        <option value="cat">По категории</option>
        <option value="author">По автору</option>
        <!-- Добавьте другие варианты фильтрации, если нужно -->
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <select name="sort" class="form-control">
        <option value="latest">По дате (новые)</option>
        <option value="oldest">По дате (старые)</option>
        <!-- Добавьте другие варианты сортировки, если нужно -->
      </select>
    </div>
  </div>
</form>

  <div class="row">
    {% for post in posts %}
      <div class="col-md-6">
        <div class="card mb-4">
          {% if post.photo %}
            <img class="card-img-top" src="{{ post.photo.url }}" alt="{{ post.title }}">
          {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.time_update }}</p>
            <p class="card-text">{{ post.content|linebreaks|truncatewords:50 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}