{% extends 'blog/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-0">
        <h2>{{ post.title }}</h2>
        <p>{{ post.time_update }}</p>
        <img src="https://img.shields.io/badge/-%D0%90%D0%B2%D1%82%D0%BE%D1%80-blue" alt="Автор">
                <strong>{{ post.user.username }}</strong>
        <br>
        <img src="https://img.shields.io/badge/-%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F-lightgrey" alt="Категорія">
                <strong>{{ post.cat.name }}</strong>
        <hr>
        {% if post.photo %}
          <img class="img-fluid" src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% endif %}
        {% autoescape on %}
          <div class="content-text">{{ post.content|linebreaks }}</div>
        {% endautoescape %}

          <div class="row">
            <div class="col-lg-6">
              {% if post.user == request.user %}
                <a href="{% url 'edit_post' post_slug=post.slug %}" class="btn btn-primary">Редагувати</a>
                <a href="{% url 'delete_post' post_slug=post.slug %}" class="btn btn-danger">Видалити</a>
              {% endif %}
            </div>
          </div>

          <hr>

          {% if user.is_authenticated %}
            <!-- Форма для создания нового комментария -->
            <form method="post" action="{{ request.path }}">
              {% csrf_token %}
              <input type="hidden" name="author" value="{{ user.username }}">
              <textarea name="text" maxlength="200" class="form-control" placeholder="Введіть коментар" rows="3"></textarea>
              <small class="text-muted">Максимальна довжина: 200 символів</small>
              <button type="submit" class="btn btn-primary">Залишити коментар</button>
            </form>
          {% else %}
            <p>Щоб залишити коментар, будь ласка, <a href="{% url 'login' %}">увійдіть у систему</a>.</p>
          {% endif %}

          <hr>

          <!-- Отображение комментариев -->
          {% if comments %}
            <h2>Коментарі</h2>
            <ul class="list-group">
              {% for comment in comments %}
                <li class="list-group-item">
                  <p class="mb-1"><span class="author">{{ comment.author }}</span> <span class="text-muted comment-date">{{ comment.created_at }}</span></p>
                  <p class="mb-1 comment-text">{{ comment.text }}</p>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="no-posts-message">Немає коментарів.</p>
          {% endif %}

      </div>
    </div>
  </div>
{% endblock %}